/* Start Country-Tile styles */
.MuiCardMedia-root svg,
.MuiCardMedia-root img {
  aspect-ratio: 300/200;
  object-fit: contain;
  width: 100% !important;
  height: 110% !important;
}

.country-tile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.country-tile-category {
  font-size: 0.875rem;
  color: #718096; /* Gray 500 */
}

.country-tile-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid #e2e8f0; /* Input border color */
  background-color: #edf2f7; /* Background color */
  color: #2d3748; /* Text color */
  cursor: pointer;
  padding: 0.2rem !important;
  transition: background-color 0.3s, color 0.3s;
}

.country-tile-button:hover {
  background-color: #63b3ed; /* Accent color */
  color: #fff; /* Accent foreground color */
}

.loading-wrapper {
  max-height: 55dvh;
  z-index: 1;
  position: relative;
  background: rgba(0, 0, 0, 0.55);
  margin: 0px auto;
  float: left;
}

.loading-animation {
  width: 2.6vw;
  border: 1px solid;
  height: 5.2vh;
  margin: 0px auto;
}
