.settings-list ol {
  list-style: none;
}

.settings-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.militaryGrid {
  overflow: hidden;
  margin: 1vh 0 1vh 0;
  max-height: 14vh !important;
  text-transform: capitalize;
}

.militaryIcon {
  font-size: xx-large;
}

.militaryItem span {
  float: left;
  width: 100%;
  text-align: center;
}

.militaryGrid .militaryItem:not(:first-child) {
  height: 6vh;
  font-size: medium;
  line-height: 1.25;
  padding: 4px;
}

.militaryItem:nth-last-child(-n + 3) {
  position: relative;
  top: -6vh;
}

.militaryGrid .militaryItem:nth-child(5) {
  max-height: 0 !important;
}

.militaryGrid .militaryItem:nth-child(5) {
  max-height: 0;
}

.setting-divider {
  margin: 2vh 0 2vh 0 !important;
  border-color: rgba(0, 0, 0, 0.42) !important;
}

.settings-section {
  border-radius: 0.375rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.section-subTitle {
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.settings-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.appInf .settings-list {
  gap: 1vh;
}

.settings-item {
  display: flex;
  justify-content: flex-start;
}

.settings-accordion .settings-item span {
  min-width: 2vw;
  border-bottom: 1px solid #000000;
}

.item-label {
  font-weight: 500;
  min-width: 12vw !important;
  margin-right: 1vw;
}
