article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.countryPage ol,
.countryPage ul {
  list-style: none;
}

.countryPage blockquote,
.countryPage q {
  quotes: none;
}
.countryPage blockquote:before,
.countryPage blockquote:after,
.countryPage q:before,
.countryPage q:after {
  content: "";
  content: none;
}

.countryPage table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

.countryPage mark {
  background-color: transparent;
  color: inherit;
}

.countryPage input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.countryPage input,
.countryPage select,
.countryPage textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.countryPage strong,
.countryPage b {
  font-weight: 600;
}

.countryPage em,
.countryPage i {
  font-style: italic;
}

.countryPage p {
  margin: 0 0 2em 0;
}

/* Row */
.countryPage .row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}
.countryPage .row > * {
  box-sizing: border-box;
}
.countryPage .row.gtr-uniform > * > :last-child {
  margin-bottom: 0;
}
.countryPage .row.aln-left {
  justify-content: flex-start;
}
.countryPage .row.aln-center {
  justify-content: center;
}
.countryPage .row.aln-right {
  justify-content: flex-end;
}
.countryPage .row.aln-top {
  align-items: flex-start;
}
.countryPage .row.aln-middle {
  align-items: center;
}
.countryPage .row.aln-bottom {
  align-items: flex-end;
}
.countryPage .row > .imp {
  order: -1;
}
.countryPage .row > .col-1 {
  width: 8.33333%;
}
.countryPage .row > .off-1 {
  margin-left: 8.33333%;
}
.countryPage .row > .col-2 {
  width: 16.66667%;
}
.countryPage .row > .off-2 {
  margin-left: 16.66667%;
}
.countryPage .row > .col-3 {
  width: 25%;
}
.countryPage .row > .off-3 {
  margin-left: 25%;
}
.countryPage .row > .col-4 {
  width: 33.33333%;
}
.countryPage .row > .off-4 {
  margin-left: 33.33333%;
}
.countryPage .row > .col-5 {
  width: 41.66667%;
}
.countryPage .row > .off-5 {
  margin-left: 41.66667%;
}
.countryPage .row > .col-6 {
  width: 50%;
}
.countryPage .row > .off-6 {
  margin-left: 50%;
}
.countryPage .row > .col-7 {
  width: 58.33333%;
}
.countryPage .row > .off-7 {
  margin-left: 58.33333%;
}
.countryPage .row > .col-8 {
  width: 66.66667%;
}
.countryPage .row > .off-8 {
  margin-left: 66.66667%;
}
.countryPage .row > .col-9 {
  width: 75%;
}
.countryPage .row > .off-9 {
  margin-left: 75%;
}
.countryPage .row > .col-10 {
  width: 83.33333%;
}
.countryPage .row > .off-10 {
  margin-left: 83.33333%;
}
.countryPage .row > .col-11 {
  width: 91.66667%;
}
.countryPage .row > .off-11 {
  margin-left: 91.66667%;
}
.countryPage .row > .col-12 {
  width: 100%;
}
.countryPage .row > .off-12 {
  margin-left: 100%;
}
.countryPage .row.gtr-0 {
  margin-top: 0;
  margin-left: 0em;
}
.countryPage .row.gtr-0 > * {
  padding: 0 0 0 0em;
}
.countryPage .row.gtr-0.gtr-uniform {
  margin-top: 0em;
}
.countryPage .row.gtr-0.gtr-uniform > * {
  padding-top: 0em;
}
.countryPage .row.gtr-25 {
  margin-top: 0;
  margin-left: -0.375em;
}
.countryPage .row.gtr-25 > * {
  padding: 0 0 0 0.375em;
}
.countryPage .row.gtr-25.gtr-uniform {
  margin-top: -0.375em;
}
.countryPage .row.gtr-25.gtr-uniform > * {
  padding-top: 0.375em;
}
.countryPage .row.gtr-50 {
  margin-top: 0;
  margin-left: -0.75em;
}
.countryPage .row.gtr-50 > * {
  padding: 0 0 0 0.75em;
}
.countryPage .row.gtr-50.gtr-uniform {
  margin-top: -0.75em;
}
.countryPage .row.gtr-50.gtr-uniform > * {
  padding-top: 0.75em;
}
.countryPage .row {
  margin-top: 0;
  margin-left: -1.5em;
}
.countryPage .row > * {
  padding: 0 0 0 1.5em;
}
.countryPage .row.gtr-uniform {
  margin-top: -1.5em;
}
.countryPage .row.gtr-uniform > * {
  padding-top: 1.5em;
}
.countryPage .row.gtr-150 {
  margin-top: 0;
  margin-left: -2.25em;
}
.countryPage .row.gtr-150 > * {
  padding: 0 0 0 2.25em;
}
.countryPage .row.gtr-150.gtr-uniform {
  margin-top: -2.25em;
}
.countryPage .row.gtr-150.gtr-uniform > * {
  padding-top: 2.25em;
}
.countryPage .row.gtr-200 {
  margin-top: 0;
  margin-left: -3em;
}
.countryPage .row.gtr-200 > * {
  padding: 0 0 0 3em;
}
.countryPage .row.gtr-200.gtr-uniform {
  margin-top: -3em;
}
.countryPage .row.gtr-200.gtr-uniform > * {
  padding-top: 3em;
}

/* Section/Article */
.countryPage section.special,
.countryPage article.special {
  text-align: center;
}

.countryPage header p {
  font-family: "Roboto Slab", serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.075em;
  margin-top: -0.5em;
  text-transform: uppercase;
}

.countryPage header.major > :last-child {
  border-bottom: solid 3px #f56a6a;
  display: inline-block;
  margin: 0 0 2em 0;
  padding: 0 0.75em 0.5em 0;
}

.countryPage header.main > :last-child {
  margin: 0 0 1em 0;
}

/* Form */
.countryPage form {
  margin: 0 0 2em 0;
}

.countryPage label {
  color: #3d4449;
  display: block;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 0 1em 0;
}

.countryPage input[type="text"],
.countryPage input[type="password"],
.countryPage input[type="email"],
.countryPage input[type="tel"],
.countryPage input[type="search"],
.countryPage input[type="url"],
.countryPage select,
.countryPage textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #ffffff;
  border-radius: 0.375em;
  border: none;
  border: solid 1px rgba(210, 215, 217, 0.75);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
.countryPage input[type="text"]:invalid,
.countryPage input[type="password"]:invalid,
.countryPage input[type="email"]:invalid,
.countryPage input[type="tel"]:invalid,
.countryPage input[type="search"]:invalid,
.countryPage input[type="url"]:invalid,
.countryPage select:invalid,
.countryPage textarea:invalid {
  box-shadow: none;
}
.countryPage input[type="text"]:focus,
.countryPage input[type="password"]:focus,
.countryPage input[type="email"]:focus,
.countryPage input[type="tel"]:focus,
.countryPage input[type="search"]:focus,
.countryPage input[type="url"]:focus,
.countryPage select:focus,
.countryPage textarea:focus {
  border-color: #f56a6a;
  box-shadow: 0 0 0 1px #f56a6a;
}

.countryPage select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(210, 215, 217, 0.75)' /%3E%3C/svg%3E");
  background-size: 1.25em;
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) center;
  height: 2.75em;
  padding-right: 2.75em;
  text-overflow: ellipsis;
}
.countryPage select option {
  color: #3d4449;
  background: #ffffff;
}
.countryPage select:focus::-ms-value {
  background-color: transparent;
}
.countryPage select::-ms-expand {
  display: none;
}

.countryPage input[type="text"],
.countryPage input[type="password"],
.countryPage input[type="email"],
.countryPage input[type="tel"],
.countryPage input[type="search"],
.countryPage input[type="url"],
.countryPage select {
  height: 2.75em;
}

.countryPage textarea {
  padding: 0.75em 1em;
}

.countryPage input[type="checkbox"],
.countryPage input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}
.countryPage input[type="checkbox"] + label,
.countryPage input[type="radio"] + label {
  text-decoration: none;
  color: #7f888f;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
}
.countryPage input[type="checkbox"] + label:before,
.countryPage input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.countryPage input[type="checkbox"] + label:before,
.countryPage input[type="radio"] + label:before {
  background: #ffffff;
  border-radius: 0.375em;
  border: solid 1px rgba(210, 215, 217, 0.75);
  content: "";
  display: inline-block;
  font-size: 0.8em;
  height: 2.0625em;
  left: 0;
  line-height: 2.0625em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.0625em;
}
.countryPage input[type="checkbox"]:checked + label:before,
.countryPage input[type="radio"]:checked + label:before {
  background: #3d4449;
  border-color: #3d4449;
  color: #ffffff;
  content: "\f00c";
}
.countryPage input[type="checkbox"]:focus + label:before,
.countryPage input[type="radio"]:focus + label:before {
  border-color: #f56a6a;
  box-shadow: 0 0 0 1px #f56a6a;
}

.countryPage input[type="checkbox"] + label:before {
  border-radius: 0.375em;
}

.countryPage input[type="radio"] + label:before {
  border-radius: 100%;
}

.countryPage ::-webkit-input-placeholder {
  color: #9fa3a6 !important;
  opacity: 1;
}

.countryPage :-moz-placeholder {
  color: #9fa3a6 !important;
  opacity: 1;
}

.countryPage ::-moz-placeholder {
  color: #9fa3a6 !important;
  opacity: 1;
}

.countryPage :-ms-input-placeholder {
  color: #9fa3a6 !important;
  opacity: 1;
}

/* Box */
.countryPage .box {
  border-radius: 0.375em;
  border: solid 1px rgba(210, 215, 217, 0.75);
  margin-bottom: 2em;
  padding: 1.5em;
}
.countryPage .box > :last-child,
.countryPage .box > :last-child > :last-child,
.countryPage .box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}
.countryPage .box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}

/* Icon */
.countryPage .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.countryPage .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.countryPage .icon > .label {
  display: none;
}
.countryPage .icon:before {
  line-height: inherit;
}
.countryPage .icon.solid:before {
  font-weight: 900;
}
.countryPage .icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

/* Image */
.countryPage .image {
  border-radius: 0.375em;
  border: 0;
  display: inline-block;
  position: relative;
}
.countryPage .image img {
  border-radius: 0.375em;
  display: block;
}
.countryPage .image.left,
.countryPage .image.right {
  max-width: 40%;
}
.countryPage .image.left img,
.countryPage .image.right img {
  width: 100%;
}
.countryPage .image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}
.countryPage .image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}
.countryPage .image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}
.countryPage .image.fit img {
  width: 100%;
}
.countryPage .image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}
.countryPage .image.main img {
  width: 100%;
}

.countryPage a.image {
  overflow: hidden;
}
.countryPage a.image img {
  -moz-transition: -moz-transform 0.2s ease;
  -webkit-transition: -webkit-transform 0.2s ease;
  -ms-transition: -ms-transform 0.2s ease;
  transition: transform 0.2s ease;
}
.countryPage a.image:hover img {
  -moz-transform: scale(1.075);
  -webkit-transform: scale(1.075);
  -ms-transform: scale(1.075);
  transform: scale(1.075);
}

/* List */
.countryPage ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}
.countryPage ol li {
  padding-left: 0.25em;
}

.countryPage ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.countryPage ul li {
  padding-left: 0.5em;
}
.countryPage ul.alt {
  list-style: none;
  padding-left: 0;
}
.countryPage ul.alt li {
  border-top: solid 1px rgba(210, 215, 217, 0.75);
  padding: 0.5em 0;
}
.countryPage ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

.countryPage dl {
  margin: 0 0 2em 0;
}
.countryPage dl dt {
  display: block;
  font-weight: 600;
  margin: 0 0 1em 0;
}
.countryPage dl dd {
  margin-left: 2em;
}

/* Actions */
.countryPage ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}
.countryPage ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle;
}
.countryPage ul.actions.special {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 100%;
  margin-left: 0;
}
.countryPage ul.actions.special li:first-child {
  padding-left: 0;
}
.countryPage ul.actions.stacked {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 0;
}
.countryPage ul.actions.stacked li {
  padding: 1.3em 0 0 0;
}
.countryPage ul.actions.stacked li:first-child {
  padding-top: 0;
}
.countryPage ul.actions.fit {
  width: calc(100% + 1em);
}
.countryPage ul.actions.fit li {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}
.countryPage ul.actions.fit li > * {
  width: 100%;
}
.countryPage ul.actions.fit.stacked {
  width: 100%;
}

/* Icons */
.countryPage ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.countryPage ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
.countryPage ul.icons li:last-child {
  padding-right: 0;
}
.countryPage ul.icons li .icon {
  color: inherit;
}
.countryPage ul.icons li .icon:before {
  font-size: 1.25em;
}

/* Table */
.countryPage .table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.countryPage table {
  margin: 0 0 2em 0;
  width: 100%;
}
.countryPage table tbody tr {
  border: solid 1px rgba(210, 215, 217, 0.75);
  border-left: 0;
  border-right: 0;
}
.countryPage table tbody tr:nth-child(2n + 1) {
  background-color: rgba(230, 235, 237, 0.25);
}
.countryPage table td {
  padding: 0.75em 0.75em;
}
.countryPage table th {
  color: #3d4449;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}
.countryPage table thead {
  border-bottom: solid 2px rgba(210, 215, 217, 0.75);
}
.countryPage table tfoot {
  border-top: solid 2px rgba(210, 215, 217, 0.75);
}
.countryPage table.alt {
  border-collapse: separate;
}
.countryPage table.alt tbody tr td {
  border: solid 1px rgba(210, 215, 217, 0.75);
  border-left-width: 0;
  border-top-width: 0;
}
.countryPage table.alt tbody tr td:first-child {
  border-left-width: 1px;
}
.countryPage table.alt tbody tr:first-child td {
  border-top-width: 1px;
}
.countryPage table.alt thead {
  border-bottom: 0;
}
.countryPage table.alt tfoot {
  border-top: 0;
}

/* Mini Posts */
.countryPage .mini-posts article {
  border-top: solid 1px rgba(210, 215, 217, 0.75);
  margin-top: 2em;
  padding-top: 2em;
}
.countryPage .mini-posts article .image {
  display: block;
  margin: 0 0 1.5em 0;
}
.countryPage .mini-posts article .image img {
  display: block;
  width: 100%;
}
.countryPage .mini-posts article:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

/* Features */
.countryPage .features {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 2em -3em;
  width: calc(100% + 3em);
}
.countryPage .features article {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 0 3em 3em;
  position: relative;
  width: calc(50% - 3em);
}
.countryPage .features article:nth-child(2n - 1) {
  margin-right: 1.5em;
}
.countryPage .features article:nth-child(2n) {
  margin-left: 1.5em;
}
.countryPage .features article:nth-last-child(1),
.countryPage .features article:nth-last-child(2) {
  margin-bottom: 0;
}
.countryPage .features article .icon {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  display: block;
  height: 10em;
  line-height: 10em;
  margin: 0 2em 0 0;
  text-align: center;
  width: 10em;
}
.countryPage .features article .icon:before {
  color: #f56a6a;
  font-size: 2.75rem;
  position: relative;
  top: 0.05em;
}
.countryPage .features article .icon:after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0.25rem;
  border: solid 2px rgba(210, 215, 217, 0.75);
  content: "";
  display: block;
  height: 7em;
  left: 50%;
  margin: -3.5em 0 0 -3.5em;
  position: absolute;
  top: 50%;
  width: 7em;
}
.countryPage .features article .content {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}
.countryPage .features article .content > :last-child {
  margin-bottom: 0;
}

/* Posts */
.countryPage .posts {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 2em -6em;
  width: calc(100% + 6em);
}
.countryPage .posts article {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  margin: 0 0 6em 6em;
  position: relative;
  width: calc(33.33333% - 6em);
}
.countryPage .posts article:before {
  background: rgba(210, 215, 217, 0.75);
  content: "";
  display: block;
  height: calc(100% + 6em);
  left: -3em;
  position: absolute;
  top: 0;
  width: 1px;
}
.countryPage .posts article:after {
  background: rgba(210, 215, 217, 0.75);
  bottom: -3em;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  right: 0;
  width: calc(100% + 6em);
}
.countryPage .posts article > :last-child {
  margin-bottom: 0;
}
.countryPage .posts article .image {
  display: block;
  margin: 0 0 2em 0;
}
.countryPage .posts article .image img {
  display: block;
  width: 100%;
}

/* Wrapper */
.countryPage #wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  min-height: 100vh;
}

/* Main */
#main .countryPage {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}
#main > .inner.countryPage {
  padding: 0 3em 0.1em 3em;
  margin: 0 auto;
  max-width: 110em;
}
#main > .inner.countryPage > section {
  padding: 6em 0 4em 0;
  border-top: solid 2px rgba(210, 215, 217, 0.75);
}
#main > .inner.countryPage > section:first-of-type {
  border-top: 0 !important;
}

/* Header */
.countryPage #header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: solid 5px #f56a6a;
  padding: 2em 0 1em 0;
  position: relative;
}
.countryPage #header > * {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 0;
}
.countryPage #header .logo {
  border-bottom: 0;
  color: inherit;
  font-family: "Roboto Slab", serif;
  /* font-size: 1.125em; */
}
.countryPage #header .icons {
  text-align: right;
}

/* Banner */
.countryPage #banner {
  padding: 6em 0 4em 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.countryPage #banner h1 {
  margin-top: -0.125em;
}
.countryPage #banner .content {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 50%;
}
.countryPage #banner .image {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  display: block;
  margin: 0 0 2em 4em;
  width: 50%;
}
.countryPage #banner .image img {
  height: 100%;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
  width: 100%;
}