/* Fix SVG image aspect ratio */
.CitiesPage .MuiAvatar-root svg,
.CitiesPage .MuiAvatar-root img,
.CountriesPage .MuiAvatar-root svg,
.CountriesPage .MuiAvatar-root img {
  object-fit: contain;
  width: 100% !important;
  height: 110% !important;
}
.CitiesPage .MuiAvatar-root {
  background: #fff !important;
  border: 1px solid;
}

.tile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tile-category {
  font-size: 0.875rem;
  color: #718096;
  /* Gray 500 */
}

.tile-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.2rem !important;
}
