/* Fix SVG image aspect ratio */
/** biome-ignore-all lint/complexity/noImportantStyles: used for overrides */
.CitiesPage .MuiAvatar-root svg,
.CitiesPage .MuiAvatar-root img,
.CountriesPage .MuiAvatar-root svg,
.CountriesPage .MuiAvatar-root img {
  object-fit: contain;
  width: 100% !important;
  height: 110% !important;
}
.CitiesPage .MuiAvatar-root {
  background: #fff !important;
  border: 1px solid;
}

.tile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tile-category {
  font-size: 0.875rem;
  color: #718096;
  /* Gray 500 */
}

.tile-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.2rem !important;
}

/* note styles */
.note-card {
  border-radius: 15px;
}

.note-card a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.note-name {
    text-wrap: auto;
    overflow: auto;
    background: rgba(131, 9, 172, 0.37);

}

/* Existing Terra-Logger note types */
.note-name.note-type-city, .note-name.note-type-burg {
  background-color: rgba(25, 118, 210, 0.37);
}

.note-name.note-type-country, .note-name.note-type-state {
  background-color: rgba(46, 125, 50, 0.37);
}

.note-name.note-type-label {
  background-color: rgba(106, 27, 154, 0.37);
}

.note-name.note-type-regiment {
  background-color: rgba(183, 28, 28, 0.37);
}

.note-name.note-type-marker {
  background-color: rgba(239, 108, 0, 0.37);
}
