.my-custom-view-wrapper {
  position: relative;
}

.textArea-view-wrapper div:last-child {
  /* Here we are styling the button container. */
  justify-content: center;
  align-items: top;
  margin-top: 5px;
}

.textArea-edit-button,
.textArea-cancel-button,
.textArea-save-button {
  border-radius: 1px;
  outline: none;
  padding: 0.6em;
  min-width: 30px;
  height: 100%;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
}

.textArea-edit-button {
  position: inherit;
}

.banner.content {
  min-width: 50%;
}
