/* Main App styling */
.App {
  height: 97dvh;
  padding: 1rem 1rem 0rem 1rem;
  overflow: hidden;
}

/* Header Styling */
header {
  margin-bottom: 5vh;
  min-height: 8.72vh;
  padding-left: 3em;
  font-weight: 300;
}

/* Navigation Styling */
.Navigation a {
  color: inherit;
  text-decoration: inherit;
}

.Navigation .subMenu {
  padding-left: 2vw;
}

.Navigation li .inactive {
  display: none;
}

.Navigation .active .inactive {
  display: inline-flex;
}

.Navigation .mapSelect {
  padding: 0 !important;
}

.Navigation .mapSelect .MuiAccordionDetails-root {
  padding: 0;
}

.Navigation .mapSelect li {
  padding-left: 1.75dvw;
}

.Navigation .MuiMenuItem-gutters {
  padding-left: 0px;
  padding-right: 0px;
}

.Navigation .MuiAccordion-root {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  width: 100%;
}

.Navigation .MuiAccordionDetails-root {
  padding-top: 0;
  padding-bottom: 0;
}

.Navigation .MuiList-root {
  padding-top: 0;
  padding-bottom: 0;
}

.Navigation .MuiAccordionSummary-content {
  margin: 0;
}

.navTrail .MuiBreadcrumbs-li {
  text-transform: capitalize;
}

/* Content Styling */
.pageBody {
  max-height: 83dvh;
}

.Content {
  max-height: 80vh;
}

.contentSubHead .MuiAlert-root {
  margin-bottom: 1vh;
}

.contentSubHead .MuiAlert-message {
  width: 100%;
}

.contentSubBody {
  padding: 0.6em;
  min-height: 70dvh;
}

/*-- MUI Override --*/
.MuiPaper-root {
  text-align: left !important;
}

.exportPage .MuiLinearProgress-root {
  height: 2dvh !important;
  border-radius: 6px !important;
}

.MuiAccordion-root.Mui-expanded {
  margin: 0px !important;
}

/*-- MUI Override --*/

/* Loading display Styling */
.loadingScreen {
  width: 100%;
  height: 99%;
  display: flex;
}

.loadingBox {
  width: 50dvw;
  margin: auto;
  padding: 2dvh;
  box-shadow: 0 0 100px 100px #ffffff;
  border-radius: 1em;
  background: rgba(255, 255, 255, 1);
}

.loadingBox p {
  font-size: 2em;
  margin-bottom: 0;
}

.loadingBox progress {
  width: 100%;
  height: 5dvh;
}

.loadingBox progress::-webkit-progress-bar {
  background-color: #ff0009 !important;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.BookLoader {
  min-height: 41dvh;
  margin: 0 auto;
  padding-top: 16dvh !important;
  max-width: 150px;
  min-width: 100px;
}

.BookLoader h2 {
  width: 100px;
  overflow: hidden;
  color: #8309ac;
}

/* Svg background display changes */
/*-- only shows if map is smaller than screen size --*/
.svgScaled {
  transform: scaleY(1.11);
}

/* Page Specific styling that doesn't deserve it's own file yet */
/* Home Page */
.homePage strong {
  font-weight: 500;
  color: #8309ac;
  font-style: oblique;
}

/* Settings */
.Settings {
  padding-left: 0dvw;
  padding-right: 0dvw;
}
