/* Main App styling */
/** biome-ignore-all lint/complexity/noImportantStyles: used for overrides */
.App {
  height: 97dvh;
  padding: 1rem 1rem 0rem 1rem;
  overflow: hidden;
}

/* Header Styling */
.MuiAppBar-root {
  margin-bottom: 5vh;
  min-height: 8.72vh;
  padding-left: 3em;
  font-weight: 300;
}

/* Navigation Styling */
.Navigation a {
  color: inherit;
  text-decoration: inherit;
}

.Navigation .subMenu {
  padding-left: 2vw;
}

.Navigation li .inactive {
  display: none;
}

.Navigation .active .inactive {
  display: inline-flex;
}

.Navigation .mapSelect {
  padding: 0 !important;
}

.Navigation .mapSelect .MuiAccordionDetails-root {
  padding: 0;
}

.Navigation .mapSelect li {
  padding-left: 1.75dvw;
}

.Navigation .MuiMenuItem-gutters {
  padding-left: 0px;
  padding-right: 0px;
}

.Navigation .MuiAccordion-root {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  width: 100%;
}

.Navigation .MuiAccordionSummary-content .MuiAccordionDetails-root {
  padding-top: 0;
  padding-bottom: 0;
}

.Navigation .MuiList-root {
  padding-top: 0;
  padding-bottom: 0;
}

.Navigation .MuiAccordionSummary-content {
  margin: 0;
}

.navTrail .MuiBreadcrumbs-li {
  text-transform: capitalize;
}

/* Content Styling */
.pageBody {
  max-height: 83dvh;
}

.Content {
  max-height: 80vh;
}

.contentSubHead .MuiAlert-root {
  margin-bottom: 1vh;
}

.contentSubHead .MuiAlert-message {
  width: 100%;
}

/*-- MUI Override --*/
.MuiPaper-root {
  text-align: left !important;
}

.exportPage .MuiLinearProgress-root {
  height: 2dvh !important;
  border-radius: 6px !important;
}

.MuiAccordion-root.Mui-expanded {
  margin: 0px !important;
}

/*-- MUI Override --*/

/* Loading display Styling */

.BookLoader {
  min-height: 41dvh;
  margin: 0 auto;
  padding-top: 16dvh !important;
  max-width: 150px;
  min-width: 100px;
}

.BookLoader h2 {
  width: 100px;
  overflow: hidden;
  color: #8309ac;
}

/* Page Specific styling that doesn't deserve it's own file yet */
/* Home Page */
.homePage strong {
  font-weight: 500;
  color: #8309ac;
  font-style: oblique;
}

/* Settings */
.Settings {
  padding-left: 0dvw;
  padding-right: 0dvw;
}
