/* Import Azgaar Stylings */
@import url(./assets/css/afmg.css);

/* Assign Font-Face for appBar */
@font-face {
  font-family: "KaushanScript";
  src: url("./assets/css/fonts/KaushanScript-Regular.ttf");
}

/* Begin Basic Index.html Styling */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0rem;
  background-image: url("../bg.svg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  max-width: 100dvw;
  max-height: 100dvh;
  overflow-y: hidden;
}

header h1 {
  font-family: "KaushanScript";
}

div#root {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

div#root.dark {
  background-color: rgba(0, 0, 0, 0.6);
}

svg#map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#map {
  height: 100dvh;
  background: none;
}

g#burgIcons,
g#burgLabels,
[id^="stateLabel"],
g#scaleBar,
g#vignette {
  display: none;
}
